* {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 78px;
    color: #FFFFFF;
    background-color: #8FE381;
    text-shadow: 1px 1px 1px #77DD66;
    gap: 20px;
    border-bottom-color: #77DD66;
    border-bottom-width: 5px;
    border-bottom-style: dashed;
}

.main {
    display: block;
}

@media screen and (max-width: 1000px) {
    .artists, .shows, .calendar, .artists_form, .shows_form {
        flex-direction: column;
    }

    .logo-big, .logo_small {
        display: none;
    }

    .logo-big {
        display: none;
    }

    .logo-small {
        position: absolute;
        margin: 5px;
        left: 10px;
        top: 5px;
    }
}

@media screen and (min-width: 1000px) {
    .logo-big {
        position: absolute;
        left: 10px;
        top: 5px;
        margin: 5px;
    }

    .logo-small {
        display: none;
    }
}

.nav {
    position: absolute;
    right: 10px;
    top: 10px;
    overflow: hidden;
    background-color: #A7E99C;
    float: right;
    border-radius: 20px;
}

.nav a {
    float: left;
    color: white;
    text-align: center;
    font-weight: normal;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.nav a:hover {
    font-size: 17px;
    text-shadow: 5px 5px 5px #77DD66;
}

.nav .active {
    font-size: 17px;
    text-decoration: underline;
}

#upButton {
    position: fixed;
    right: 10px;
    bottom: 20px;
    float: right;
    filter: drop-shadow(2px 2px 2px #8FE381);
    cursor: pointer;
}

.calendar, .artists, .shows {
    display: flex;
    gap: 50px;
}

.calendar {
    margin: 20px;
}

.artists, .shows {
    gap: 135px;
    align-items: center;
    justify-content: center;
}

footer {
    color: #FFFFFF;
    background-color: #8FE381;
    text-shadow: 1px 1px 1px #77DD66;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-top-color: #77DD66;
    border-top-width: 5px;
    border-top-style: dashed;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.title, .generated_title {
    text-align: center;
    color: #77DD66;
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
}

.generated_title {
    display: none
}

.generated_cast {
    align-items: center;
    justify-content: center;
}

.generated_cast_table {
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    border-color: #A7E99C;
    border-width: 2px;
    border-style: dashed;
    padding: 10px;
    margin: 10px auto;
}

.cast_head_row {
    text-align: center;
    color: #77DD66;
    font-weight: bold;
}

.cast_role_name {
    background-color: #D7F4D2;
}

.cast_role_name, .cast_artist_name {
    border-radius: 20px;
    border-color: #BFEEB7;
    text-align: center;
}

.sub_title {
    color: #77DD66;
    font-size: 20px;
}

strong, b, em, i {
    color: #77DD66;
}

.calendar_view {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #6D6D6D;
    font-size: 15px;
}

.calendar_form {
    display: flex;
    flex-direction: column;
}

.calendar_table_dates>div:nth-child(14n+1),
.calendar_table_dates>div:nth-child(14n+2),
.calendar_table_dates>div:nth-child(14n+3),
.calendar_table_dates>div:nth-child(14n+4),
.calendar_table_dates>div:nth-child(14n+5),
.calendar_table_dates>div:nth-child(14n+6),
.calendar_table_dates>div:nth-child(14n+7)
{
    background: #D7F4D2;
    border-color: #A7E99C;
    border-width: 1px;
    border-style: dashed;
}

.calendar_table_dates>div:nth-child(7n+1),
.calendar_table_dates>div:nth-child(7n+2),
.calendar_table_dates>div:nth-child(7n+3),
.calendar_table_dates>div:nth-child(7n+4),
.calendar_table_dates>div:nth-child(7n+5),
.calendar_table_dates>div:nth-child(7n+6)
{
    border-top-color: #A7E99C;
    border-top-width: 1px;
    border-top-style: dashed;
    border-right-color: #A7E99C;
    border-right-width: 1px;
    border-right-style: dashed;
}

.calendar_table_dates{
    grid-template-rows: repeat(6, 70px);
}

.calendar_table_month {
    text-align: center;
}

.calendar_table_day_of_week {
    background-color: #BFEEB7;
}

.calendar_table_day_of_week, .calendar_table_dates {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar_table {
    border-radius: 20px;
    border-color: #A7E99C;
    border-width: 2px;
    border-style: dashed;
}

.shows_form, .artists_form {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.cast_table_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
}

.cast_table_from_row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.show_img:hover, .artist_img:hover {
	filter: drop-shadow(5px 5px 5px #8FE381);
}

.show_img, .artist_img {
    width: 250px;
}

.contacts_img {
    width: 40px;
    float: left;
    padding: 5px 5px;
}

.contacts_img:hover {
    filter: drop-shadow(1px 1px 1px #D7F4D2);
}

.info {
    text-align: center;
    margin: 5px;
    line-height: 25px;
}

.artists_search, .shows_search, .calendar_search, .calendar_view_search, .cast_table {
    background-color: #D7F4D2;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    border-color: #A7E99C;
    border-width: 2px;
    border-style: dashed;
}

.found_calendar, .found_artists, .found_shows {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    background-color: #F7FDF6;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #A7E99C;
    color: #77DD66;
    box-shadow: 5px 5px 5px #A7E99C;
    text-shadow: 0 0 0 #77DD66;
}

.button:hover {
    background-color: #BFEEB7;
}

.button:active {
    background-color: #A7E99C;
    box-shadow: none;
    transform: translateY(4px);
}

.select_mult {
    background-color: #F7FDF6;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: #A7E99C;
    color: #77DD66;
    box-shadow: 5px 5px 5px #A7E99C;
    text-shadow: 0 0 0 #77DD66;
}

option:checked {
    background: #A7E99C linear-gradient(0deg, #A7E99C 0%, #A7E99C 100%);
    color: white;
}

input[type="radio"]:checked {
    accent-color: #77DD66;
}

.error {
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #D7F4D2;
    padding: 10px;
    border-radius: 20px;
    border-color: #A7E99C;
    border-width: 2px;
    border-style: dashed;
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes customAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preloader .custom-animation {
    width: 50px;
    height: 50px;
    border: 8px solid #D7F4D2;
    border-top: 8px solid #77DD66;
    border-radius: 100%;
    animation: customAnimation 1s linear infinite;
}

.content-loaded {
    display: none;
}

#galleryShow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100vw;
    padding: 20px;
}

#galleryShow figure {
    margin: 10px;
    text-align: center;
    width: 200px;
    overflow: hidden;
}

#galleryShow img {
    max-width: 100%;
    height: auto;
}

#galleryShow figcaption {
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}